#item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 600px;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.item-size {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  flex-wrap: wrap;
  width: 50px;
  margin: 0 auto;
}

.item-size li {
  margin: 7px 5px;
  padding: 2px;
}

.item-size a {
  color: var(--brown-color);
  text-decoration: none;
}

.item-size-active {
  border: 2px solid var(--cyan-color);
}

.item-info {
  margin-top: 0;
  margin-bottom: 10px;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.item-desc {
  text-align: justify;
  width: 60%;
  margin: 0.7rem auto;
  font-weight: 300;
}
.item-image {
  width: 280px;
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.extra-info {
  color: var(--brown-color);
  text-align: left;
}

.extra-info p {
  margin-bottom: 5px;
}

/* MEDIA QUERIES */

@media (min-width: 680px) {
  #item-container {
    display: grid;
    max-width: 680px;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
    margin-top: 20px;
  }

  .item-image {
    width: 350px;
    height: 400px;
  }

  .jacket-price {
    margin-bottom: 20px;
  }

  .item-size {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .item-size-active {
    position: relative;
    bottom: 2px;
  }

  .item-desc {
    text-align: left;
    width: 50%;
  }

  .jacket-item {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
}
