/* BASIC STYLES */
h1 {
  text-align: center;
  margin-top: 0.8rem;
}

.breadcrumb {
  margin-top: 0.5rem;
}

.breadcrumb a {
  color: #272727;
}

#jackets-container {
  text-align: center;
  margin-top: 1rem;
}

.jacket-item {
  margin: 1rem 1rem 4rem 0;
}

.jacket-image {
  width: 280px;
  height: 300px;
  border: 1px solid #000;
  margin-bottom: 1rem;
  padding: 1rem;
}

.jacket-h2 {
  text-transform: none;
  color: #0a3641;
}

.jacket-desc {
  font-size: 20px;
  font-weight: 300;
  width: 280px;
  margin: 0.2rem auto;
  text-align: center;
  color: #272727;
}

.jacket-price {
  color: #0a3641;
  font-size: 20px;
  display: block;
  margin-top: 0.8rem;
}

/* MEDIA QUERIES */

@media (min-width: 680px) {
  #jackets-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    align-items: stretch;
  }
}

@media (min-width: 1200px) {
  #jackets-container {
    max-width: 1000px;
    justify-content: space-between;
  }
}
