/* OTHER PAGES STYLES IMPORT */

@import url(menu.css);
@import url(jackets.css);

/* FONTS */
@font-face {
  font-family: Futura;
  src: url("https://cdn.jsdelivr.net/npm/futura-font@1.0.0/FuturaBT-Medium.woff");
}

@font-face {
  font-family: "Futura Bold";
  src: url("../fonts/futura-bold.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* BASIC STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  width: 80%;
}

h1,
h2 {
  font-family: "Futura Bold", sans-serif;
  color: #272727;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  color: #0a3641;
}

/* UTILITIES */

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  background-color: #58beae;
  border: none;
  border-radius: 24px;
  text-decoration: none;
  color: #0a3641;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  border: 3px solid #58beae;
  transition: 0.3s;
  box-shadow: 1px 2px 5px 1px rgb(100, 100, 100);
}

.btn:hover {
  background-color: #fff;
}

.margin-left {
  margin-left: 1rem;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION */

#logo {
  width: 50%;
}

#navigation {
  display: flex;
  align-items: baseline;
  border-bottom: 1.5px solid #272727;
  padding: 1rem;
}

#navigation ul li {
  list-style: none;
  display: inline-block;
  font-family: "Futura Bold", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
  margin-right: auto;
}

#line {
  height: 1.2rem;
  width: 1rem;
  position: relative;
  top: 2px;
}

#nav-icons {
  display: flex;
  margin-left: auto;
  align-self: baseline;
}

#hamburger-icon {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #0a3641;
}

.nav-link:hover {
  color: #58beae;
}

.nav-icon {
  width: 60%;
  padding-right: 30px;
  cursor: pointer;
  margin-left: 1rem;
}

/* MAIN SECTION */
.desktop-hidden {
  display: none;
}

.hero {
  background-image: url(../images/homeImg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 600px;
  margin: 2rem auto;
}

.hero h1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.hero-container {
  position: relative;
  top: 30%;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0px 5px 15px 20px rgba(255, 255, 255);
  padding: 3rem;
  border-radius: 4px;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2rem auto;
}

.link {
  color: #0a3641;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link:hover {
  color: #58beae;
}

#separator {
  border-right: 3px solid #58beae;
  margin: 0 5px 0 5px;
  padding-top: 3px;
}

.share-section {
  text-align: center;
  margin-top: 3rem;
}

.share-section p {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 600px;
  object-fit: fill;
}

.gallery-item {
  position: relative;
  text-align: center;
}

.gallery-item-text {
  color: #fff;
  text-transform: uppercase;
  font-family: "Futura Bold", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: absolute;
  left: 38%;
  bottom: 3rem;
}

/* FOOTER */

footer {
  border-top: 1.5px solid #272727;
  padding-top: 1.5rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer-icons img {
  width: 70%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 1600px) {
  .nav-icon {
    width: 40%;
    padding-right: 0px;
  }

  .hero-links {
    justify-content: center;
    width: 70%;
    margin: 2rem auto;
  }

  #separator {
    margin: 0 8px 0 8px;
  }

  .gallery-item img {
    height: 400px;
    object-position: top;
  }
}

@media (max-width: 1200px) {
  #logo {
    width: 40%;
  }
  #navigation ul li {
    font-size: 1.3rem;
  }

  .nav-icon {
    width: 40%;
    padding-right: 0;
  }

  .hero {
    height: 500px;
  }

  .hero h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .hero-container {
    position: relative;
    top: 20%;
    padding: 2rem;
  }
  .hero-links {
    width: 50%;
    margin: 1.5rem auto;
  }

  .gallery-item img {
    height: 300px;
  }
  .gallery-item-text {
    font-size: 1.3rem;

    left: 30%;
    bottom: 2.5rem;
  }

  .footer-icons img {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .nav-link,
  #line,
  #search,
  .mobile-hidden,
  #separator,
  .gallery-item-text {
    display: none;
  }

  .desktop-hidden {
    display: inline-block;
  }

  .nav-icon {
    width: 45%;
  }

  #hamburger-icon {
    display: inline-block;
    margin-left: 0.8rem;
  }

  .hero {
    background-image: url(../images/homeImg1.jpg);
    object-fit: cover;
    height: 350px;
    margin: 1rem auto;
  }

  .hero-container {
    position: relative;
    top: 10%;
    left: 15%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .hero-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .link-mobile {
    margin: 0.3rem auto;
    padding: 1rem 1.3rem;
    background-color: #fff;
    border: none;
    border-radius: 24px;
    text-decoration: none;
    color: #0a3641;
    font-size: 1rem;
    border: 3px solid #58beae;
    transition: 0.3s;
    width: 180px;
  }

  .link-mobile:hover {
    background-color: #58beae;
    border-color: #fff;
    color: #0a3641;
  }

  .gallery-item img {
    height: 250px;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  body {
    width: 90%;
  }

  #navigation {
    padding: 1rem 0 0;
  }

  .hero-container {
    left: 0%;
    padding-right: 2rem;
  }
}
