/* BASIC STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* NAVIGATION */

#logo {
  width: 50%;
}

#navigation {
  display: flex;
  align-items: baseline;
  border-bottom: 1.5px solid #272727;
  padding: 1rem;
}

#navigation ul li {
  list-style: none;
  display: inline-block;
  font-family: "Futura Md BT", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
  color: #0a3641;
  margin-right: auto;
}

#line {
  height: 1.2rem;
  width: 1rem;
  position: relative;
  top: 2px;
}

#nav-icons {
  display: flex;
  margin-left: auto;
  align-self: baseline;
}

.nav-icon {
  width: 75%;
  padding-right: 30px;
}
